/*

    Blue placeholders:

*/

// Blue on dark:
%color--blue-onDark { color: $color--darkBlue; }
%background--blue-onDark { background-color: $color--darkBlue; }
%outline--blue-onDark { outline-color: $color--darkBlue; }

// Blue on light:
%color--blue-onLight { color: $color--lightBlue; }
%background--blue-onLight { background-color: $color--lightBlue; }
%outline--blue-onLight { outline-color: $color--lightBlue; }

/*

    Pink placeholders:

*/

// Pink on dark:
%color--pink-onDark { color: $color--darkPink; }
%background--pink-onDark { background-color: $color--darkPink; }
%outline--pink-onDark { outline-color: $color--darkPink; }

// Pink on light:
%color--pink-onLight { color: $color--lightPink; }
%background--pink-onLight { background-color: $color--lightPink; }
%outline--pink-onLight { outline-color: $color--lightPink; }

/*

    Green placeholders:

*/

// Green on dark:
%color--green-onDark { color: $color--darkGreen; }
%background--green-onDark { background-color: $color--darkGreen; }
%outline--green-onDark { outline-color: $color--darkGreen; }

// Green on light:
%color--green-onLight { color: $color--lightGreen; }
%background--green-onLight { background-color: $color--lightGreen; }
%outline--green-onLight { outline-color: $color--lightGreen; }

/*

    Purple placeholders:

*/

// Purple on dark:
%color--purple-onDark { color: $color--darkPurple; }
%background--purple-onDark { background-color: $color--darkPurple; }
%outline--purple-onDark { outline-color: $color--darkPurple; }

// Purple on light:
%color--purple-onLight { color: $color--lightPurple; }
%background--purple-onLight { background-color: $color--lightPurple; }
%outline--purple-onLight { outline-color: $color--lightPurple; }

/*

    Yellow placeholders:

*/

// Yellow on dark:
%color--yellow-onDark { color: $color--darkYellow; }
%background--yellow-onDark { background-color: $color--darkYellow; }
%outline--yellow-onDark { outline-color: $color--darkYellow; }

// Yellow on light:
%color--yellow-onLight { color: $color--lightYellow; }
%background--yellow-onLight { background-color: $color--lightYellow; }
%outline--yellow-onLight { outline-color: $color--lightYellow; }

/*

    Orange placeholders:

*/

// Orange on dark:
%color--orange-onDark { color: $color--darkOrange; }
%background--orange-onDark { background-color: $color--darkOrange; }
%outline--orange-onDark { outline-color: $color--darkOrange; }

// Orange on light:
%color--orange-onLight { color: $color--lightOrange; }
%background--orange-onLight { background-color: $color--lightOrange; }
%outline--orange-onLight { outline-color: $color--lightOrange; }

/*

    Red placeholders:

*/

// Red on dark:
%color--red-onDark { color: $color--darkRed; }
%background--red-onDark { background-color: $color--darkRed; }
%outline--red-onDark { outline-color: $color--darkRed; }

// Red on light:
%color--red-onLight { color: $color--lightRed; }
%background--red-onLight { background-color: $color--lightRed; }
%outline--red-onLight { outline-color: $color--lightRed; }

// Red contrast:
%border--contrastRed { border-color: #bc4949; }