@mixin flex($align-items, $justify-content, $flex-direction) {
    align-items: $align-items;
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
}

@mixin theme($theme, $mode) {
    // Font color:
    #titlebar-title i,
    .sidebar-list li:hover i,
    .sidebar-toggle button:hover {
        @extend %color--#{$theme}-on#{$mode};
    }

    #titlebar button:hover {
        @if $mode == 'Dark' {
            color: $color--text-primary-onLight;
        }
    }

    // Background color:
    #titlebar li:hover,
    #sidebar,
    #sidebar:hover::-webkit-scrollbar-thumb {
        @extend %background--#{$theme}-on#{$mode};
    }

    // Outline color:
    #titlebar button:focus-visible {
        @extend %outline--#{$theme}-on#{$mode};
    }

    // Border color:
    #sidebar section:not(:last-child) {
        // @extend %border--contrast{$}
        border-bottom: 1px solid $border--contrast#{$theme};
    }
}