#sidebar {
    height: 100%;
    overflow-y: overlay;
    position: relative;
    width: rem(210px);
}

#sidebar section:first-child {
    padding-top: rem(25px);

    .sidebar-heading {
        display: none;
    }
}

#sidebar section:not(:last-child) {
    padding-bottom: rem(18px);
}

#sidebar ul {
    &.first-child {
        padding: rem(25px) 0 0 0;
    }

    li {
        font-size: rem(13px);
        padding: rem(5px) rem(25px);

        i {
            font-size: rem(16px);
            text-align: center;
            width: rem(20px);
        }

        span {
            margin-left: rem(11px);
        }
    }
}

#sidebar h2 {
    font-size: rem(13px);
    font-weight: 400;
    letter-spacing: .015em;
    line-height: rem(13px);
    padding: rem(25px) rem(25px) rem(15px) rem(25px);
}

#sidebar .crop-toggle {
    padding: rem(5px) rem(25px) rem(18px) rem(25px);

    button {
        @extend .noselect;
        padding: rem(5px) rem(10px);
        border-radius: rem(8px);
        font-size: rem(12px);
        line-height: rem(12px);
    }
}