#titlebar {
    @extend .noselect;
    @include flex(center, center, row);
    height: rem(45px);
    position: absolute;
    width: 100%;
    z-index: 1;
}

#titlebar h1 {
    font-size: rem(21px);
    font-weight: 400;
    line-height: rem(21px);
    margin-bottom: rem(4.5px);
    text-transform: lowercase;
}

#titlebar i {
    font-size: rem(16px);
    line-height: rem(16px);  
}

#titlebar ul,
#titlebar li,
#titlebar button {
    @include flex(center, center, row);
    height: 100%;
}

#titlebar li {
    width: rem(45px);
}

#titlebar button {
    width: 100%;
}

#titlebar-title {
    @include flex(center, flex-start, row);
    flex-grow: 1;
    height: 100%;
    padding: 0 rem(10px);
    white-space: nowrap;

    i {
        margin-right: rem(7.5px);
    }
}