// Text:
$color--text-onDark:#f5f4f3;
$color--text-onLight: #222222;

// Default (Dark):
$color--dark-00: #222222; // Darkest
$color--dark-01: #1e1f21;
$color--dark-02: #2e2e30;
$color--dark-03: #363639;
$color--dark-04: #4e4e51;

// Default (Light):
$color--light-00: #FAFAFA; // Lightest
$color--light-01: #f6f6f7;
$color--light-02: #eeeff1;
$color--light-03: #eaeaea;
$color--light-04: #e0e0e0;

// Accent (Dark):
$color--darkBlue: #52baff;
$color--darkGreen: #a7de59;
$color--darkOrange: #ff944d;
$color--darkPink: #ff90dc; 
$color--darkPurple: #b28cff;
$color--darkRed: #ff7171;
$color--darkYellow: #ffd452;

// Accent (Light):
$color--lightBlue: #afd7f6;
$color--lightGreen: #c1dc9a;
$color--lightOrange: #f3b99e;
$color--lightPink: #eebbdc;
$color--lightPurple: #cebaef;
$color--lightRed: #edb3b3;
$color--lightYellow: #efdc91;

// Accent (Dark Contrast):
$color--contrastDarkBlue: #1c89d2;
$color--contrastDarkGreen: #75ae24;
$color--contrastDarkOrange: #d26014;
$color--contrastDarkPink: #d952ae; 
$color--contrastDarkPurple: #865bdd;
$color--contrastDarkRed: #c13333;
$color--contrastDarkYellow: #d9a814;

// Accent (Light Contrast):
$color--contrastLightBlue: #74b4df;
$color--contrastLightGreen: #87b941;
$color--contrastLightOrange: #cf8553;
$color--contrastLightPink: #e387c6; 
$color--contrastLightPurple: #ac90e6;
$color--contrastLightRed: #d56a6a;
$color--contrastLightYellow: #dab136;