.mode-light {
    transition: .1s ease-in-out;

    &#app-content {
        background-color: $color--ui-light-04;
    }

    #titlebar {
        background-color: $color--ui-light-04;
        box-shadow: 0 4px 6px -2px rgba($color--ui-dark-01, .25);
        color: $color--text-primary-onLight;
    }

    #titlebar li button:focus-visible {
        outline-color: $color--text-primary-onLight;
    }

    #sidebar {
        color: $color--text-primary-onLight;
        transition: background-color .1s ease-in-out;
    }

    .sidebar-list {
        li:hover {
            background-color: rgba($color--ui-light-04, .75);
        }
    }
    
    li {
        transition: .1s ease-in-out;

        &:hover {
            transition: .1s ease-in-out;
        }
    }

    /*

        Accent: Undefined

    */

    &.theme-undefined {
        #titlebar-title i {
            color: rgba($color--ui-dark-04, .25);
        }

        #sidebar,
        #titlebar li:hover {
            background-color: rgba($color--ui-light-03, .7);
        }
    }

    /*

        Color themes:

    */

    &.theme-blue {
        @include theme('blue', 'Light');
    }

    &.theme-pink {
        @include theme('pink', 'Light');
    }

    &.theme-green {
        @include theme('green', 'Light');
    }

    &.theme-purple {
        @include theme('purple', 'Light');
    }

    &.theme-yellow {
        @include theme('yellow', 'Light');
    }

    &.theme-orange {
        @include theme('orange', 'Light');
    }

    &.theme-red {
        @include theme('red', 'Light');
    }
    /*

        Accent: Red

    */

    // &.theme-red {
    //     #titlebar-title i {
    //         color: $color--accent-red-onLight;
    //     }

    //     #sidebar,
    //     #titlebar li:hover {
    //         background-color: $color--accent-red-onLight;
    //     }

    //     #titlebar button:focus-visible {
    //         outline-color: $color--accent-red-onLight;
    //     }

    //     #sidebar {
    //         font-weight: 500;
    //         color: $color--accent-red-onRed;

    //         section:not(:last-child) {
    //             border-bottom: 1px solid rgba($color--accent-red-onRed, .25);
    //         }
        
    //         &:hover::-webkit-scrollbar-thumb {
    //             background: $color--accent-red-onRed;
    //         }
    //     }

    //     .sidebar-list {
    //         li {
    //             i {
    //                 color: $color--accent-red-onRed;
    //             }

    //             &:hover i {
    //                 color: $color--accent-red-onLight;
    //             }
    //         }
    //     }
    // }
}