.mode-light {
    transition: .1s ease-in-out;

    &#app-content {
        background-color: $color--ui-light-04;
    }

    #titlebar {
        background-color: $color--ui-light-04;
        box-shadow: 0 4px 6px -2px rgba($color--ui-dark-01, .25);
        color: $color--text-primary-onLight;
    }

    #titlebar li button:focus {
        outline-color: $color--text-primary-onLight;
    }

    #sidebar {
        color: $color--text-primary-onLight;
        transition: background-color .1s ease-in-out;
    }

    .sidebar-list {
        li:hover {
            background-color: rgba($color--ui-light-04, .75);
        }
    }
    
    li {
        transition: .1s ease-in-out;

        &:hover {
            transition: .1s ease-in-out;
        }
    }

    /*

        Accent: Undefined

    */

    &.theme-undefined {
        #titlebar-title i {
            color: rgba($color--ui-dark-04, .25);
        }

        #sidebar,
        #titlebar li:hover {
            background-color: rgba($color--ui-light-03, .7);
        }
    }

    /*

        Accent: Blue

    */

    &.theme-blue {
        #titlebar-title i {
            color: $color--accent-blue-onLight;
        }

        #sidebar,
        #titlebar li:hover {
            background-color: $color--accent-blue-onLight;
        }

        #titlebar button:focus {
            outline-color: $color--accent-blue-onLight;
        }
    }

    /*

        Accent: Pink

    */

    &.theme-pink {
        #titlebar-title i {
            color: $color--accent-pink-onLight;
        }

        #sidebar,
        #titlebar li:hover {
            background-color: $color--accent-pink-onLight;
        }

        #titlebar button:focus {
            outline-color: $color--accent-pink-onLight;
        }
    }

    /*

        Accent: Green

    */

    &.theme-green {
        #titlebar-title i {
            color: $color--accent-green-onLight;
        }

        #sidebar,
        #titlebar li:hover {
            background-color: $color--accent-green-onLight;
        }

        #titlebar button:focus {
            outline-color: $color--accent-green-onLight;
        }
    }

    /*

        Accent: Purple

    */

    &.theme-purple {
        #titlebar-title i {
            color: $color--accent-purple-onLight;
        }

        #sidebar,
        #titlebar li:hover {
            background-color: $color--accent-purple-onLight;
        }

        #titlebar button:focus {
            outline-color: $color--accent-purple-onLight;
        }
    }

    /*

        Accent: Yellow

    */

    &.theme-yellow {
        #titlebar-title i {
            color: $color--accent-yellow-onLight;
        }

        #sidebar,
        #titlebar li:hover {
            background-color: $color--accent-yellow-onLight;
        }

        #titlebar button:focus {
            outline-color: $color--accent-yellow-onLight;
        }
    }

    /*

        Accent: Orange

    */

    &.theme-orange {
        #titlebar-title i {
            color: $color--accent-orange-onLight;
        }

        #sidebar,
        #titlebar li:hover {
            background-color: $color--accent-orange-onLight;
        }

        #titlebar button:focus {
            outline-color: $color--accent-orange-onLight;
        }
    }

    /*

        Accent: Red

    */

    &.theme-red {
        #titlebar-title i {
            color: $color--accent-red-onLight;
        }

        #sidebar,
        #titlebar li:hover {
            background-color: $color--accent-red-onLight;
        }

        #titlebar button:focus {
            outline-color: $color--accent-red-onLight;
        }

        #sidebar {
            font-weight: 500;
            color: $color--accent-red-onRed;

            section:not(:last-child) {
                border-bottom: 1px solid rgba($color--accent-red-onRed, .25);
            }
        
            &:hover::-webkit-scrollbar-thumb {
                background: $color--accent-red-onRed;
            }
        }

        .sidebar-list {
            li {
                i {
                    color: $color--accent-red-onRed;
                }

                &:hover i {
                    color: $color--accent-red-onLight;
                }
            }
        }
    }
}