.mode-dark {
    transition: .1s ease-in-out;

    &#app-content {
        background-color: $color--ui-dark-01;
    }

    // Titlebar:

    #titlebar {
        background-color: $color--ui-dark-03;
        box-shadow: 0 4px 6px -2px rgba($color--ui-dark-01, .25);
        color: $color--text-primary-onDark;
    }

    #titlebar-title i {
        color: $color--text-primary-onDark;
    }
    
    #titlebar li {
        transition: .1s ease-in-out;

        &:hover {
            transition: .1s ease-in-out;
            background-color: rgba($color--ui-dark-04, .75);
            color: $color--text-primary-onDark;
        }

        button:focus-visible {
            outline-color: $color--text-primary-onDark;
        }
    }

    // Sidebar:

    #sidebar {
        background-color: $color--ui-dark-02;
        color: $color--text-primary-onDark;
        transition: background-color .1s ease-in-out;

        .sidebar-heading h2 {
            color: rgba($color--text-primary-onDark, .45);
        }

        section:not(:last-child) {
            border-bottom: 1px solid  $color--ui-dark-04;
        }

        &:hover {
            &::-webkit-scrollbar-thumb {
                background: $color--text-primary-onDark;
            }
        }
    }

    .sidebar-list {
        li i {
            color: rgba($color--text-primary-onDark, .25);
            transition: .1s ease-in-out;
        }

        li:hover {
            background-color: rgba($color--ui-dark-04, .35);

            i {
                color: $color--text-primary-onDark;
            }
        }
    }

    .sidebar-toggle {
        button {
            background: transparent;
            color: rgba($color--text-primary-onDark, .25);
    
            &:hover {
                color: $color--text-primary-onDark;
                background-color: rgba($color--ui-dark-04, .35);
            }
        }
    }

    /*

        Accent: Blue

    */

    &.theme-blue {
        #titlebar-title i,
        .sidebar-list li:hover i,
        .sidebar-toggle button:hover {
            color: $color--accent-blue-onDark;
        }

        #titlebar li:hover,
        #sidebar:hover::-webkit-scrollbar-thumb {
            background: $color--accent-blue-onDark;
        }

        #titlebar button:focus-visible {
            outline-color: $color--accent-blue-onDark;
        }
    }

    /*

        Accent: Pink

    */

    &.theme-pink {
        #titlebar-title i,
        .sidebar-list li:hover i,
        .sidebar-toggle button:hover {
            color: $color--accent-pink-onDark;
        }

        #titlebar li:hover,
        #sidebar:hover::-webkit-scrollbar-thumb {
            background: $color--accent-pink-onDark;
        }

        #titlebar button:focus-visible {
            outline-color: $color--accent-pink-onDark;
        }
    }

    /*

        Accent: Green

    */

    &.theme-green {
        #titlebar-title i,
        .sidebar-list li:hover i,
        .sidebar-toggle button:hover {
            color: $color--accent-green-onDark;
        }

        #titlebar li:hover,
        #sidebar:hover::-webkit-scrollbar-thumb {
            background: $color--accent-green-onDark;
        }

        #titlebar button:focus-visible {
            outline-color: $color--accent-green-onDark;
        }
    }

    /*

        Accent: Purple

    */

    &.theme-purple {
        #titlebar-title i,
        .sidebar-list li:hover i,
        .sidebar-toggle button:hover {
            color: $color--accent-purple-onDark;
        }

        #titlebar li:hover,
        #sidebar:hover::-webkit-scrollbar-thumb {
            background: $color--accent-purple-onDark;
        }

        #titlebar button:focus-visible {
            outline-color: $color--accent-purple-onDark;
        }
    }

    /*

        Accent: Yellow

    */

    &.theme-yellow {
        #titlebar-title i,
        .sidebar-list li:hover i,
        .sidebar-toggle button:hover {
            color: $color--accent-yellow-onDark;
        }

        #titlebar li:hover,
        #sidebar:hover::-webkit-scrollbar-thumb {
            background: $color--accent-yellow-onDark;
        }

        #titlebar button:focus-visible {
            outline-color: $color--accent-yellow-onDark;
        }
    }

    /*

        Accent: Orange

    */

    &.theme-orange {
        #titlebar-title i,
        .sidebar-list li:hover i,
        .sidebar-toggle button:hover {
            color: $color--accent-orange-onDark;
        }

        #titlebar li:hover,
        #sidebar:hover::-webkit-scrollbar-thumb {
            background: $color--accent-orange-onDark;
        }

        #titlebar button:focus-visible {
            outline-color: $color--accent-orange-onDark;
        }
    }

    /*

        Accent: Red

    */

    &.theme-red {
        #titlebar-title i,
        .sidebar-list li:hover i,
        .sidebar-toggle button:hover {
            color: $color--accent-red-onDark;
        }

        #titlebar li:hover,
        #sidebar:hover::-webkit-scrollbar-thumb {
            background: $color--accent-red-onDark;
        }

        #titlebar button:focus-visible {    
            outline-color: $color--accent-red-onDark;
        }
    }
}